<nav class="navbar">
    <table class="table table-striped">
    <marquee><div class="row">
        <div *ngFor="let stock of spStocks">
            <td><a href="https://finance.yahoo.com/quote/{{stock.Code}}?p={{ stock.Code }}" target="_blank" ><strong>{{ stock.Name }}</strong></a></td>
            <td>{{ stock.Close }}</td>
        </div>
    </div></marquee>
</table>
</nav>
<div class = "container">

<div class="row">
    <h1>Top Stocks</h1>
    <table class="table table-striped">
        <thead>
            <th>Ticker</th>
            <th>Close</th>
            <th>Open</th>
            <th>Date</th>
        </thead>
        <tr *ngFor="let stock of stocks">
            <td>{{ stock.Ticker }}</td>
            <td>{{ stock.Close }}</td>
            <td>{{ stock.Open }}</td>
            <td>{{ stock.Date }}</td>
        </tr>
    </table>

    <label><strong>Advice System</strong></label>

    <input class="form-control" type="text" placeholder="AAPL" [(ngModel)]="ticker"/>

    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <button (click)="getPriceData()"  class="getAdvice btn btn-primary btn-lg btn-block">Get Advice</button>
    </div>
</div>


<table class="table table-striped">
    <thead>
        <th>Close</th>
        <th>Rec</th>
        
    </thead>
    <tr *ngFor="let advice of adviceData">
        <td>{{ advice.Close }}</td>
        <td>{{ advice.Recommendation }}</td>
        
    </tr>
</table>

</div>
