<div class="container margin-top">

<h1>Find stock prices</h1>
<div class="row">
<div class="col-md-2">
</div>
    <div class="col-md-3">
        <input type="text" class="form-control" [(ngModel)]="ticker" placeholder="AAPL"/>
    </div>
    <div class="col-md-3">
        <input type="number" class="form-control" [(ngModel)]="days" placeholder="5"/>
    </div>
    <div class="col-md-2">
        <button (click)="get()" class="btn btn-light">Search</button>
    </div>
</div>
<hr>
    <div class="row">
        <p>Stock: {{ priceData?.ticker }}</p>
        <table class="table table-striped">
            <tr><th scope="col">Date</th><th scope="col">Price ($)</th></tr>
            <tr *ngFor="let price of priceData?.price_data">
                <td>{{ price[0]  }}</td>
                <td>{{ price[1] | number:'1.2-2'}}</td>
            </tr>
        </table>
    </div>
    
    <div *ngIf="chartData != null">
        <ngx-charts-line-chart [results]="chartData"
            [legend]="legend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [timeline]="timeline"
        ></ngx-charts-line-chart>
    </div>
</div>
