.container{
    width: 100%;  
}
.margin-top{
    margin-top: 40px;
}
.blue-background{
    background-color: lightblue;
    padding: 5px;
}
.white-background{
    background-color: whitesmoke;

}

body{
    background-color: darkslategrey;
}

.nav-link {
    color: aliceblue;

    
}