<div class="container">
<div class="row">
    <h1 class="margin-top">Booking Service</h1>
    <table class="table table-striped ">
        <thead>
            <tr>
                <th scope="col">Stock</th>
                <th scope="col">Qty</th>
                <th scope="col">Type</th>
            </tr>
        </thead>
        <tr>
            <td><input type="text" [(ngModel)]="stock" class="form-control" placeholder="AAPL"/></td>
            <td><input type="number" [(ngModel)]="qty" class="form-control" placeholder="5"/></td>
            <td><select type="text" [(ngModel)]="type" class="form-control" placeholder="Buy\Sell">
            <option selected>Choose...</option>
            <option>BUY</option>
            <option>SELL</option></select></td>
        </tr>
    </table>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <button (click)="bookTrade()"  class="btn btn-primary btn-lg  btn-block">Book</button>
    </div>
</div>

<hr>
<h4>Booking History</h4>
<table class="table">
    <thead><th scope="col">Date</th>
        <th scope="col">Stock</th>
        <th scope="col">Price ($)</th>
        <th scope="col">Qty</th>
        <th scope="col">Type</th>
        <th scope="col">State</th></thead>
    <tr *ngFor="let trade of tradeData" >
        <td>{{ trade.dateCreated }}</td>
        <td>{{ trade.stockTicker }}</td>
        <td>{{ trade.reqPrice | number:'1.2-2' }}</td>
        <td>{{ trade.stockQuantity}}</td>
        <td>{{ trade.tradeType }}</td>
        <td>{{ trade.state }}</td>
    </tr>
</table>
</div>
